* {
  margin: 0;
  padding: 0;
}

.container {
  align-content: center;
  align-items: center;
  background-color: #90b4ce;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.form-login {
  align-items: center;
  background-color: #fffffe;
  border: 1px solid #094067;
  border-radius: 4px;
  color: #094067;
  display: flex;
  flex-direction: column;
  font-size: 48px;
  font-weight: 700;
  justify-content: center;
  padding: 5%;
}

.label-login {
  background-color: #fffffe;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 2%;
  margin-top: 4%;
  min-width: 300px;
  padding: 2%;
}

.input-login {
  background-color: #fffffe;
  border: 1px solid #094067;
  border-radius: 4px;
  margin-top: 2%;
  padding: 2%;
}

.button-login {
  background-color: #094067;
  border-radius: 4px;
  color: #fffffe;
  font-size: 16px;
  font-weight: 700;
  margin-top: 2%;
  padding: 2%;
  width: 100%;
}

/* tabela de cores https://www.happyhues.co/palettes/3 */
